/* 既存のCSSスタイルにこれらを追加または統合してください */
#puzzle-container {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-bottom: 30px; /* 下に余白を追加 */
}

.tile {
    width: 100px;
    height: 100px;
    background-size: cover;
    cursor: pointer;
}

.empty {
    background-color: white;
}

#button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px; /* 上のマージンを増やす */
}


.button_blue {
    margin: 0 10px; /* ボタンの間に余白を設定 */
    padding: 10px 20px; /* ボタン内の余白を設定 */
    font-size: 16px; /* フォントサイズを設定 */
    border: none; /* ボーダーを削除 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* ホバー時にカーソルを指に変更 */
    background-color: #007BFF; /* バックグラウンドカラーを設定 */
    color: white; /* テキストカラーを設定 */
}

.button_blue:hover {
    background-color: #0056b3; /* ホバー時のバックグラウンドカラーを設定 */
}

.button_green {
    margin: 0 10px; /* ボタンの間に余白を設定 */
    padding: 10px 20px; /* ボタン内の余白を設定 */
    font-size: 16px; /* フォントサイズを設定 */
    border: none; /* ボーダーを削除 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* ホバー時にカーソルを指に変更 */
    background-color: #00FF00; /* バックグラウンドカラーを設定 */
    color: white; /* テキストカラーを設定 */
}

.button_green:hover {
    background-color: #4c8810; /* ホバー時のバックグラウンドカラーを設定 */
}

.button_red {
    margin: 0 10px; /* ボタンの間に余白を設定 */
    padding: 10px 20px; /* ボタン内の余白を設定 */
    font-size: 16px; /* フォントサイズを設定 */
    border: none; /* ボーダーを削除 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* ホバー時にカーソルを指に変更 */
    background-color: #ff0000; /* バックグラウンドカラーを設定 */
    color: white; /* テキストカラーを設定 */
}

.button_red:hover {
    background-color: #ff0000; /* ホバー時のバックグラウンドカラーを設定 */
}

.hint {
    padding: 5px;
    margin: 5px 0;
}

.optimal-move {
    color: green;
    font-weight: bold;
}

